.topHeaderNav {
  width: 100%;
  background: #f2f2f2;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  z-index: 980;
  min-width: 1000px;
  height: 26px; }
.topHeaderNav .leftTopHeaderNav {
  position: absolute;
  left: 0; }
.topHeaderNav .leftTopHeaderNav p {
  margin-right: 6px;
  float: left;
  line-height: 26px;
  box-shadow: 0 0 black; }
.topHeaderNav .leftTopHeaderNav a {
  margin-right: 6px;
  float: left;
  line-height: 26px;
  box-shadow: 0 0 black; }
.topHeaderNav .rightTopHeaderNav {
  position: absolute;
  right: 0;
  height: 26px;
  line-height: 26px; }
.topHeaderNav .rightTopHeaderNav .rthn-1 {
  padding: 0 4px 0 7px;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2; }
.topHeaderNav .rightTopHeaderNav li {
  height: 26px;
  float: left;
  padding: 0 5px;
  position: relative; }
.topHeaderNav .rightTopHeaderNav li a:hover {
  color: #cc0001;
  text-decoration: underline; }

.rthn-2 a {
  color: #cc0001; }

.rthn-4 a {
  color: #cc0001; }

.rthn-6 a {
  color: #cc0001; }

.rthn-8 a {
  color: #cc0001; }

.topFocusBox {
  background: url(../src/title.jpg) no-repeat top center scroll;
  display: block;
  width: 100%;
  height: 90px; }

.topSearch {
  width: 100%;
  height: 125px; }
.topSearch .center {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
.topSearch .center .search {
  width: 540px;
  height: 60px; }
.topSearch .center .search form {
  height: 32px;
  border: 3px solid #c00;
  position: relative; }
.topSearch .center .search form input {
  vertical-align: middle;
  outline: 0; }
.topSearch .center .search form .searchText {
  width: 439px;
  height: 22px;
  line-height: 22px;
  padding: 5px;
  border: 0 none;
  color: #666;
  float: left; }
.topSearch .center .search form .searchBtn {
  width: 85px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 16px;
  color: white;
  cursor: pointer;
  font-family: "Microsoft Yahei";
  float: right;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  background: #cc0000; }
.topSearch .center .search .hotwords {
  width: 540px;
  height: 18px;
  overflow: hidden;
  padding-top: 5px;
  line-height: 18px; }
.topSearch .center .search .hotwords a {
  float: left;
  color: #999;
  padding: 0 8px;
  height: 18px;
  position: relative; }
.topSearch .center .search .hotwords a:hover {
  color: red; }

i {
  display: block;
  height: 12px;
  width: 0;
  font-size: 0;
  line-height: 0;
  border-left: 1px solid #999;
  position: absolute;
  left: -1px;
  top: 3px; }

.navWrap {
  width: 100%;
  height: 34px;
  background: #990000;
  position: relative; }
.navWrap .nav2ndMenu {
  width: 190px;
  float: left;
  position: relative;
  z-index: 200; }
.navWrap .nav2ndMenu h2 {
  width: 190px;
  height: 34px;
  line-height: 34px;
  background: #ce171f;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  font-weight: 600;
  box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.2); }
.navWrap .nav2ndMenu ul {
  width: 190px;
  height: 470px;
  position: absolute;
  top: 34px;
  left: 0; }
.navWrap .navList {
  width: 890px;
  height: 34px;
  float: left; }
.navWrap .navList li {
  height: 34px;
  line-height: 34px;
  text-align: center;
  float: left;
  position: relative; }
.navWrap .navList li a {
  padding: 0 22px;
  display: inline-block;
  height: 34px;
  color: #fff;
  font-size: 14px;
  font-family: "Microsoft Yahei";
  background: url(../src/navLine.png) no-repeat left center; }
.navWrap .navList li a:hover {
  background: #b40c10; }
.navWrap .navList .home {
  background-image: none;
  background: #b40c10; }
.navWrap .adjuestment {
  width: 120px;
  height: 34px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0; }

.mainBody {
  width: 100%; }
.mainBody .mainBanner {
  width: 100%;
  position: relative;
  height: 470px;
  background: #f9f9f9;
  overflow: hidden; }
.mainBody .mainWrap {
  width: 100%;
  background: #f9f9f9;
  padding: 10px 0;
  overflow: hidden;
  position: relative; }
.mainBody .mainWrap .bgLeft {
  width: 100%;
  position: absolute;
  left: -500px;
  top: 0;
  height: 1000px;
  z-index: 0; }
.mainBody .mainWrap .bgLeft a {
  background: url(../src/left.png) no-repeat right top;
  width: 500px;
  height: 1000px;
  display: block;
  outline: none; }
.mainBody .mainWrap .bgRight {
  width: 100%;
  position: absolute;
  right: -500px;
  height: 1000px;
  top: 0;
  z-index: 0; }
.mainBody .mainWrap .bgRight a {
  background: url(../src/right.png) no-repeat right top;
  width: 500px;
  height: 1000px;
  display: block;
  outline: none;
  float: right; }
.mainBody .mainWrap .fixDiv {
  top: 309.5px;
  left: 50%;
  transform: scaleY(1.5);
  opacity: 0;
  z-index: 10;
  margin-left: -650px;
  position: none;
  width: 40px;
  height: 205px; }

.footerTopBox {
  width: 100%;
  background-color: #333; }
.footerTopBox .footerTopTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 84px;
  border-bottom: 1px solid #494949;
  align-items: center; }
.footerTopBox .footerTopTop .contact {
  height: 40px;
  line-height: 40px;
  padding: 22px 0; }
.footerTopBox .footerTopTop .contact div {
  width: 40px;
  height: 40px;
  background-position: -144px -22px;
  margin-right: 18px;
  float: left;
  background-image: url(../src/public-24.png); }
.footerTopBox .footerTopTop .contact b {
  font-size: 24px;
  color: #c00;
  margin-right: 25px;
  float: left;
  line-height: 40px; }
.footerTopBox .footerTopTop .contact span {
  font-size: 14px;
  color: #fff;
  margin-right: 8px;
  float: left; }
.footerTopBox .footerTopTop .emailText {
  height: 32px; }
.footerTopBox .footerTopTop .emailText .footeRightTitle {
  width: 100px;
  float: left;
  line-height: 32px;
  color: white;
  padding-right: 10px; }
.footerTopBox .footerTopTop .emailText .emailTextForm {
  float: left;
  width: 240px;
  height: 30px;
  border: 1px solid #494949; }
.footerTopBox .footerTopTop .emailText .emailTextForm input {
  width: 190px;
  height: 30px;
  line-height: 30px;
  padding: 0 6px;
  background: 0;
  border: 0;
  float: left;
  color: #fff;
  outline: 0; }
.footerTopBox .footerServices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 204px; }
.footerTopBox .footerServices li {
  list-style: none;
  width: 158px; }
.footerTopBox .footerServices li h3 {
  display: inline-block;
  font-weight: normal;
  height: 26px;
  line-height: 26px;
  padding: 5px 0;
  font-size: 14px;
  color: #fff;
  overflow: hidden;
  white-space: nowrap; }
.footerTopBox .footerServices li p {
  height: 26px;
  line-height: 26px;
  padding-left: 35px;
  overflow: hidden;
  white-space: nowrap;
  width: 123px; }
.footerTopBox .footerServices div {
  list-style: none;
  width: 158px; }

.rightNav {
  width: 35px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  background: #ffffff;
  box-shadow: 1px 2px 5px #999; }
.rightNav .rightNav1 {
  width: 35px;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 311;
  text-align: center;
  height: 365px;
  margin-top: -182.5px; }
.rightNav .rightNav1 div {
  width: 35px;
  padding: 10px 0;
  position: relative;
  z-index: 350;
  cursor: pointer;
  background: none;
  text-align: center; }
.rightNav .rightNav1 div .icon {
  background-image: url(../src/public-24.png);
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  text-align: center;
  margin: 0 auto; }
.rightNav .rightNav1 div .spanText {
  display: block;
  font-family: "Microsoft Yahei";
  line-height: 16px;
  color: #333333;
  padding: 2px 0 0; }
.rightNav .rightNav1 .rightNavMine .icon {
  background-position: 0 -163px; }
.rightNav .rightNav1 .rightNavCollect .icon {
  background-position: -40px -163px; }
.rightNav .rightNav1 .rightNavCart .icon {
  background-position: -120px -163px; }
.rightNav .rightNav1 .rightNavCart .spanText {
  width: 14px;
  font-size: 14px;
  margin: 0 10px 0 11px;
  padding: 6px 0 4px; }
.rightNav .rightNav1 .rightNavService .icon {
  background-position: -45px -331px; }
.rightNav .rightNav2 {
  width: 35px;
  position: absolute;
  bottom: 30px;
  right: 0;
  text-align: center; }
.rightNav .rightNav2 div {
  width: 35px;
  position: relative;
  margin: 0;
  padding: 8px 0;
  z-index: 350;
  cursor: pointer;
  background: none;
  text-align: center; }
.rightNav .rightNav2 div p {
  background-image: url(../src/public-24.png);
  width: 19px;
  height: 16px;
  text-align: center;
  margin: 0 auto; }
.rightNav .rightNav2 .rightNav2-1 p {
  background-position: 3px -186px; }
.rightNav .rightNav2 .rightNav2-2 p {
  background-position: -19px -186px; }
.rightNav .rightNav2 .rightNav2-3 p {
  background-position: -40px -186px; }

.bridge {
  height: 690px;
  width: 100%;
  overflow: hidden; }
.bridge .bridgeTitle {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #f9f9f9;
  padding: 0 3px; }
.bridge .bridgeTitle .comTitle {
  width: 90px;
  float: left;
  font-size: 0; }
.bridge .bridgeTitle .comTitle span {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  font-size: 17px;
  margin-left: 10px;
  font-family: "Microsoft Yahei"; }
.bridge .bridgeTitle .rightMenu {
  width: 370px;
  float: right;
  margin-left: 50px;
  height: 40px;
  line-height: 40px;
  background: #f9f9f9;
  padding: 0 3px;
  color: #999; }
.bridge .bridgeTitle .rightMenu a {
  padding: 0 7px;
  color: #999; }
.bridge .bridgeTitle .rightMenu .bridgeRightMenuNameF1 {
  padding: 4px 7px;
  color: #fff;
  background: #d43d4e;
  height: 21px;
  border-radius: 2px; }
.bridge .bridgeBanner {
  height: 485px;
  width: 210px;
  position: relative;
  overflow: hidden;
  float: left; }
.bridge .bridgeList {
  width: 990px;
  float: right;
  height: 485px;
  overflow: hidden;
  position: relative; }
.bridge .bridgeList li {
  float: left;
  width: 197px;
  height: 243px;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  position: relative;
  padding-top: 10px; }
.bridge .bridgeList li .listPic {
  text-align: center; }
.bridge .bridgeList li .listPic img img {
  width: 160px;
  height: 160px;
  position: relative;
  z-index: 1; }
.bridge .bridgeList li .listName {
  width: 160px;
  padding: 0 18px;
  height: 36px;
  overflow: hidden;
  margin-top: 5px; }
.bridge .bridgeList li .listName p {
  display: block;
  width: 100%;
  height: 18px;
  line-height: 18px;
  font-size: 12px; }
.bridge .bridgeList li .listPrice {
  width: 178px;
  padding: 0 0 0 18px;
  height: 18px;
  overflow: hidden;
  line-height: 18px;
  white-space: nowrap; }
.bridge .bridgeList li .listPrice p {
  font-size: 12px;
  font-weight: normal;
  font-family: "Microsoft Yahei";
  color: #CD0100;
  display: inline;
  vertical-align: middle; }

.bridgeBox {
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-top: 2px solid #c94b56;
  height: 485px;
  overflow: hidden;
  width: 1200px; }

/*# sourceMappingURL=index.css.map */
