.topFocusBox{
    // display: flex;
    // justify-content: center;
    background:url(../src/title.jpg) no-repeat top center scroll;
    display: block;
    width: 100%;
    height: 90px;
    // margin: 26px 0 0 0;
}